body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #444;
    color: #fff;
}

.container {
    margin-top: 50px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

.reset-button, .new-game-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.reset-button:hover, .new-game-button:hover {
    background-color: #45a049; 
}

.hidden {
    display: none;
}

.result-message {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#gameBoard {
    font-weight: bold;
}

.player-x {
    color: #00008B;
}

.player-o {
    color: #FFFFFF;
}
